/* Estilo General */
body {
    background-color: #2D3142;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
}

/* Header */
header {
    background-color: #212431;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    text-shadow: #000000;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header img {
    max-width: 80px; /* Limita el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Centrados los títulos */
h1, h2, h3 {
    text-align: center;
}

/* Página de Inicio */
button {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 15px;
    background-color: #4F5D75;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #BFC0C0;
}

.button-wrapper {
    margin-bottom: 1em;
}

#sanBernardoTimestamp,
#papaFranciscoTimestamp,
#milagroTimestamp {
    font-size: 0.9em;
    color: #BFC0C0;
    text-align: center;
}


/* Formularios de Chequeo */
form {
    background-color: #FFFFFF;
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 80px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 80%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

input[type="text"] {
    margin-top: 5px;
}

/*Buscador en check*/

.search-container {
    display: flex; /* Usa Flexbox para alinear el ícono y el campo de entrada en una fila */
    align-items: center; /* Alinea verticalmente el ícono y el campo de entrada */
    background-color: #fff; /* Fondo blanco para el contenedor del buscador */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    max-width: 400px; /* Ancho máximo del contenedor (opcional) */
    position: absolute; /* Posiciona el contenedor de manera absoluta */

    right: 10px; /* Ajusta el espacio desde el margen derecho de la página */
}

.search-container i {
    color: #4F5D75; /* Color del ícono, igual al de los encabezados */
    font-size: 18px; /* Tamaño del ícono */
    margin-right: 10px; /* Espacio entre el ícono y el campo de entrada */
}

.search-container input {
    border: none; /* Elimina el borde del campo de entrada */
    outline: none; /* Elimina el contorno predeterminado del campo de entrada */
    padding: 5px; /* Espaciado interno del campo de entrada */
    font-size: 16px; /* Tamaño de la fuente del campo de entrada */
    flex: 1; /* Hace que el campo de entrada ocupe el espacio disponible */
}


/*Notas al operador*/

.notaOperador {
    display: inline-block; /* Ajusta el ancho del contenedor al contenido */
    background-color: #f9f9f9; /* Fondo ligeramente gris */
    border: 1px solid #EF8354; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    margin: 20px 0; /* Espaciado superior e inferior */
    font-size: 16px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    max-width: 100%; /* Opcional: Limita el ancho máximo al ancho del contenedor padre */
    position: relative; /* Para posicionar el ícono de advertencia */
}

.notaOperador i {
    color: #ffcc00; /* Color del ícono */
    font-size: 24px; /* Tamaño del ícono */
    vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

.notaOperador p {
    margin: 0; /* Elimina el margen predeterminado de los párrafos */
    padding: 0; /* Elimina el relleno predeterminado de los párrafos */
}



/* Tablas en check.html */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    margin-bottom: 80px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #DDDDDD;
    color: #000000; /* Texto oscuro dentro de las tablas */
}

thead {
    background-color: #4F5D75;
    color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #BFC0C0;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

/* Footer */
footer {
    background-color: #EF8354;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
